.grid1 {
    grid-area: education;
    justify-self: start;
}
.home__title--level {
    margin-top: 1rem;
}
.level {
    font-size: 1.2rem;
    font-weight: 700;
}
.institute {
    font-size: 1.5rem;
}
.year {
    color: #777;
    font-weight: 500;
    font-style: italic;
    font-size: 0.8rem;
}
