.grid4 {
    grid-area: experience;
    margin-top: 1em;
}

.job {
    font-size: 1.2rem;
    font-weight: 700;
}
.work-place {
    font-size: 1.5rem;
}
.work-head {
    list-style-type: square;
    padding-left: 2em;
}
