.grid3 {
    grid-area: project;
    margin-left: 7rem;
    margin-top: 1em;
}

.project-head {
    font-size: 1.3rem;
    font-weight: 600;
}
.project-desc {
    list-style-type: square;
    padding-left: 2em;
}
